<link rel="stylesheet" type="text/css" href="/static/css/nav.css" crossorigin="anonymous">

<!-- Navigation bar: collapses when screen is less than 576px wide -->
<nav class="navbar navbar-expand-sm navbar-dark bg-navy pt-4 pb-4">
    <div class="container-fluid fs-5">
        <!-- Logo -->
        <a class="navbar-brand fs-2" href="{{ url_for('index') }}">
            l<span class="text-green">i</span>stMatic
        </a>

        <!-- Hamburger menu button for small screens -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation containers -->
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav ms-auto text-end">
                <!-- Navigation links go here -->
                <a class="nav-link {% if active == 0 %}active{% endif %}" href="{{ url_for('index') }}">About us</a>
                {% if current_user.is_authenticated %}
                    <a class="nav-link {% if active == 1 %}active{% endif %}" href="{{ url_for('dashboard') }}">Dashboard</a>
                {% else %}
                    <a class="nav-link {% if active == 1 %}active{% endif %}" href="{{ url_for('login') }}">Sign in</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>