/* Dashboard */
.navbar {
    border-bottom: 1px solid #00bfa6;
}

.category {
    margin-top: 30px;
	padding: 15px 0;
}

.card {
    min-width: 240px;
    height: 166px;
    margin-top: 10px;
    overflow: clip;
}
.card:hover {
    background-color: #e5f5ff;
}
.card:hover p.rounded-circle {
    background-color: #10cfb6;
}

.card-dropdown {
    position: absolute;
    bottom: 132px;
    left: 206px;
}

.card-dropdown .dropdown-menu {
    min-width: 150px;
}

.dot, .dot.is-selected, .flickity-prev-next-button {
    background-color: #00bfa6 !important;
}
.carousel {
    padding: 0 4.2%;
}
.carousel-cell {
    margin-right: 2.4%;
}