/* Container styles */
html, body {
    font-family: Open Sans, sans-serif;
}

.center-outer {
	height: 85vh;
}
.center-inner {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-fluid {
	padding: 0 7.3%;
}


/* Link styles */
.link {
	text-decoration: none;
}
.link-green {
	color: #00bfa6;
}
.link-green:hover {
	color: #20dfc6;
}
.link-back {
	padding-top: 29px;
	padding-bottom: 35px;
}


/* Button styles */
.btn {
	height: 48px;
	border-radius: 4px;
}
.btn-navy, .bg-navy {
	background-color: #023859;
}
.btn-navy:hover, .btn-navy:active {
	background-color: #225879 !important;
}
.btn-green, .bg-green {
	background-color: #00bfa6;
}
.btn-green:hover, .btn-green:active {
	background-color: #20dfc6 !important;
}


/* Font styles */
.text-navy {
	color: #023859;
}
.text-green {
	color: #00bfa6;
}
.text-red {
	color: #ff0000;
}

.fs-0 {
	font-size: 4.5625rem !important;
	letter-spacing: 1.46px;
}
.fs-1 {
	font-size: 3.125rem !important;
	letter-spacing: 1.00px;
}
.fs-2 {
	font-size: 2.0625rem !important;
	letter-spacing: 0.66px;
}
.fs-4 {
	letter-spacing: 0.48px;
}
.fs-6 {
	font-size: 0.875rem !important;
	letter-spacing: 0.28px;
}
.fs-7 {
	font-size: 0.75rem !important;
	letter-spacing: 0px;
}
.arial {
    font-family: Arial, sans-serif;
}
.sans {
    font-family: "Open Sans", sans-serif;
}


/* Form styles */
.form {
	width: 100%;
	max-width: 360px;
	margin: auto;
}

.form-control, .form-text {
	height: 50px;
	background-color: #F1F9FF !important;
	border: 2px solid #BCE0FD;
	border-radius: 10px;
}

.form-text {
	border: none !important;
	padding: 10px;
}

.form-check .form-check-input {
	scale: 2;
	margin-right: 0.8rem;
	margin-left: -0.8rem;
	background-color: #023859;
	border: 1px solid #7FC4FD;
	border-radius: 2px;
	box-shadow: none;
}



/* Hide/unhide SVGs on small screens */
.d-xxxl-block {
	display: none;
}
@media (min-width: 1800px) {
	.d-xxxl-block {
		display: block;
	}
}