{% extends "components/base.html" %}

{% block header %}
    {% include 'components/navbar_user.html' %}
    {% include 'components/messages.html' %}
{% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/static/css/list.css" crossorigin="anonymous" xmlns="http://www.w3.org/1999/html">

    {% if role in ['owner', 'editor'] %}
        <script src="/static/js/drag.js" type="text/javascript"></script>
    {% endif %}


    <div class="container-fluid">
        <div class="row text-start link-back">
			<a class="link fw-bold text-navy fs-6" href="{{ url_for('dashboard') }}">◄ Back to home</a>
		</div>

        <p id="saveTime" class="text-dark fs-5"></p>

        <div class="row row-cols-1 row-cols-xl-2">
            <div class="col mb-5">
                <div class="hstack mb-4">
                    {% if role in ['owner', 'editor'] %}
                        <input id="titleText" class="form-text w-100 text-navy fs-1 fw-bold flex-grow-1 m-0 me-1" type="text" placeholder="Title" value="{{ list.title }}" autocomplete="off"/>
                        <button id="saveBtn" class="btn btn-lg btn-navy text-white fs-6 arial">Save</button>
                    {% else %}
                        <input id="titleText" class="form-text w-100 text-navy fs-1 fw-bold flex-grow-1 m-0 me-1" type="text" placeholder="Title" value="{{ list.title }}" autocomplete="off" disabled/>
                    {% endif %}
                </div>

                <table class="table table-responsive table-borderless table-striped shadow w-100">
                    <thead></thead>
                    <tbody id="contentContainer">
                        {% for item in list.content %}
                            <tr draggable="true" ondragstart="dragstart()" ondragover="dragmove()" ondragend="dragend()">
                                <td class="hstack p-1">
                                    {% if role in ['owner', 'editor'] %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#333" class="bi bi-grip-vertical" viewBox="0 0 16 16">
                                            <path d="M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                        </svg>
                                        <input class="focusable form-text w-100 flex-grow-1 m-0 me-1" type="text" placeholder="..." value="{{ item }}"/>
                                        <button class="btn btn-danger btn-delete m-0" onclick="this.parentElement.parentElement.parentElement.removeChild(this.parentElement.parentElement);">
                                            <img style="scale: 1.5;" src="/static/img/trash.svg"/>
                                        </button>
                                    {% else %}
                                        <input class="form-text w-100 flex-grow-1 m-0" type="text" placeholder="..." value="{{ item }}" disabled/>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                        {% if not list.content %}
                            <tr draggable="true" ondragstart="dragstart()" ondragover="dragmove()" ondragend="dragend()">
                                <td class="hstack p-1">
                                    {% if role in ['owner', 'editor'] %}
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#333" class="bi bi-grip-vertical" viewBox="0 0 16 16">
                                            <path d="M7 2a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 5a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM7 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm-3 3a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm3 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                        </svg>
                                        <input class="focusable form-text w-100 flex-grow-1 m-0 me-1" type="text" placeholder="..." value=""/>
                                        <button class="btn btn-danger btn-delete m-0" onclick="this.parentElement.parentElement.parentElement.removeChild(this.parentElement.parentElement);">
                                            <img style="scale: 1.5;" src="/static/img/trash.svg"/>
                                        </button>
                                    {% else %}
                                        <input class="form-text w-100 flex-grow-1 m-0" type="text" placeholder="..." value="" disabled/>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>

                {% if role in ['owner', 'editor'] %}
                    <div class="text-center mt-3">
                        <button id="addBtn" class="btn btn-green rounded-pill p-1 pe-3 d-inline fs-6 arial text-white align-middle">
                            <img src="/static/img/plus.svg" width="40px" height="40px"/>
                            Add new row
                        </button>
                    </div>
                {% endif %}
            </div>
            <div class="col text-center">
                {% if role in 'owner' %}
                    <button class="btn btn-lg btn-navy text-white mw-100 fs-6 arial" type="button" data-bs-toggle="modal" data-bs-target="#inviteModal">
                        Invite Friends & Family
                    </button>
                {% endif %}
                <div class="col text-center mt-3">
                    <p>Your role: {{ role }}</p>
                </div>
            </div>
        </div>
    </div>

    {% if role in 'owner' %}
        {% with id="inviteModal", header="Manage access", body="<p>Test</p>", submit_action="", submit_color="primary", submit_text="Submit" %}
            {% include 'components/modal.html' %}
        {% endwith %}
    {% endif %}

    {% if role in ['owner', 'editor'] %}
        <script src="/static/js/list.js" type="text/javascript"></script>
        <script src="/static/js/DragDropTouch.js" type="text/javascript"></script>
    {% endif %}
{% endblock %}